.sidebar{
    display: flex;
    /* display: block; */
    flex-direction: row;
    justify-content:flex-start;
    /* margin: 15px; */
    width: 100vw;
    background-color: antiquewhite;
}
.navlist{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 15px;
    width: auto;
    background-color: rgb(24, 106, 214);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.active{
    background-color: rgb(24, 106, 214);
    color: white;
}